@import './my-app-theme.scss';

body {
  margin: 0;
  height: 100%;
}

app-system-overview {
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: 'helvetica-bold';
}

p, span {
  font-family: 'helvetica-regular';
}

app-progress-bar-dialog {
  width: 100%;
}
