<app-progress-bar [loading]="loading"></app-progress-bar>

<div fxLayout="column" fxLayoutAlign="center center" *ngIf="(clients.length === 0) && !loading">
  <div style="width: 100%; height: 100px;"></div>
  <h1 class="no-entries">Keine Systeme registriert</h1>
</div>

<div style="height: 50px;" *ngIf="clients.length > 0"></div>
<div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="clients.length > 0">
  <mat-card *ngFor="let client of clients" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
      <div mat-card-avatar class="dot" style="background-color: limegreen; background-size: cover;" *ngIf="client?.status?.toString() === SystemStatus[SystemStatus.ONLINE] || client?.status === 1"></div>
      <div mat-card-avatar class="dot" style="background-color: orange; background-size: cover;" *ngIf="client?.status?.toString() === SystemStatus[SystemStatus.STANDBY] || client?.status === 2"></div>
      <div mat-card-avatar class="dot" style="background-color: red; background-size: cover;" *ngIf="client?.status?.toString() === SystemStatus[SystemStatus.OFFLINE] || client?.status === 3"></div>
      <mat-card-title>{{ client?.manufacturer }}</mat-card-title>
      <mat-card-subtitle>{{ client?.serialNumber }}</mat-card-subtitle>
    </mat-card-header>
    <img style="width: 200px;" mat-card-image src="/assets/images/system.png">
    <mat-card-content>
      <p><b>{{ client.value.toString() }} V</b></p>
    </mat-card-content>
  </mat-card>
</div>
