<app-progress-bar [loading]="loading"></app-progress-bar>

<div fxLayout="column" fxLayoutAlign="center center" *ngIf="(systems.length === 0) && !loading">
  <div style="width: 100%; height: 100px;"></div>
  <h1 class="no-entries">Keine Systeme registriert</h1>
</div>

<div style="height: 50px;" *ngIf="systems.length > 0"></div>
<div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="systems.length > 0">
  <mat-card *ngFor="let system of systems" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
      <div mat-card-avatar class="dot" style="background-color: limegreen; background-size: cover;" *ngIf="system?.status?.toString() === SystemStatus[SystemStatus.ONLINE] || system?.status === 1"></div>
      <div mat-card-avatar class="dot" style="background-color: orange; background-size: cover;" *ngIf="system?.status?.toString() === SystemStatus[SystemStatus.STANDBY] || system?.status === 2"></div>
      <div mat-card-avatar class="dot" style="background-color: red; background-size: cover;" *ngIf="system?.status?.toString() === SystemStatus[SystemStatus.OFFLINE] || system?.status === 3"></div>
      <mat-card-title>{{ system?.manufacturer }}</mat-card-title>
      <mat-card-subtitle>{{ system?.serialNumber }}</mat-card-subtitle>
    </mat-card-header>
    <img style="width: 180px;" mat-card-image src="/assets/images/system.png">
    <mat-card-content>
      <p><b>{{ 'Voltage' | translate }}</b>: {{ system.voltage }} V</p>
      <p><b>{{ 'Consumer Group' | translate }}</b>: {{ system!!.group!!.name }}</p>
      <p><b>{{ 'Wiring Mode' | translate }}</b>: {{ system!!.group!!.wiring!!.toString() | translate }}</p>
      <div style="width: 100%; height: 15px; margin-bottom: 10px;" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="10px">
        <p><b>{{ 'Consumer Mode' | translate }}</b>: {{ system!!.group!!.mode!!.toString() | translate }}</p>
        <mat-icon *ngIf="system?.group?.mode?.toString() === ConsumerMode[ConsumerMode.None]">trending_flat</mat-icon>
        <mat-icon *ngIf="system?.group?.mode?.toString() === ConsumerMode[ConsumerMode.Loading]" style="color: green">trending_up</mat-icon>
        <mat-icon *ngIf="system?.group?.mode?.toString() === ConsumerMode[ConsumerMode.Consuming]" style="color: red">trending_down</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>
</div>
