<mat-tab-group [(selectedIndex)]="selectedTab" mat-align-tabs="center">
  <mat-tab label="Systeme" fxFlex="90">
    <app-system-overview *ngIf="gateway" [systems]="gateway!!.systems" [loading]="loading"></app-system-overview>
  </mat-tab>

  <mat-tab label="Verbrauchergruppen" fxFlex="90">
    <app-consumer-group-overview *ngIf="gateway" [groups]="gateway!!.groups" [loading]="loading"></app-consumer-group-overview>
  </mat-tab>
</mat-tab-group>

<app-progress-bar [loading]="loading"></app-progress-bar>
